---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import { ToastContainer} from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="min-h-screen">
		<ToastContainer 
        position="bottom-right"
        autoClose={5000}
        hideProgressBar={false}
        newestOnTop={false}
        closeOnClick
        rtl={false}
        pauseOnFocusLoss
        draggable
        pauseOnHover
        theme="colored"
      client:load
		/>
		<Navbar />
        <slot transition:persist/>
		<Footer />
		<script type="text/javascript">
			(function(d, t) {
				var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
				v.onload = function() {
				  window.voiceflow.chat.load({
					verify: { projectID: '669139a87bfcd9cc5f3c8cc4' },
					url: 'https://general-runtime.voiceflow.com',
					versionID: 'production'
				  });
				}
				v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
			})(document, 'script');
		  </script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: Poppins, system-ui, sans-serif;
		background: #EAEAEA;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Bold.ttf"), format("truetype");
		font-display: swap;
		font-weight: 700;
		font-style: bold;
	}
	@font-face {
		font-family: "Poppins";
		src: url("/fonts/Poppins-Regular.ttf"), format("truetype");
		font-display: swap;
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: "Quicksand";
		src: url("/fonts/Quicksand-Regular.ttf"), format("truetype");
		font-display: swap;
		font-weight: 400;
		font-style: normal;
	}
	 
</style>

